:root {
    font-size: …;
    font-family: …;
    box-sizing: border-box;
}
    
* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.button {
    border: 1px solid grey;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 100px;
    display: block;
    cursor: pointer;  
    overflow: hidden;
}

.button input {
    display: none;
}

.button label{
    display: block;
    font-size: 2em;
    /* background-color: rgba(207, 148, 148, 0.61); */
    min-width: 48px;
    height: 48px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    
   
}

#check1:not(:checked)+#check2:not(:checked)~label[for="check1"]::before {
    content: "4";
} 
/* #check1:checked+#check2:not(:checked)~label[for="check1"] {
    display: none;
} */
#check1:checked+#check2:not(:checked)~label[for="check2"]::before {
    content: "3";
}

#check1:checked+#check2:checked~label[for="check1"]::before {
    content: "2";
}


/* #check1:not(:checked)+#check2:checked~label[for="check1"] {
    display: none;
} */
#check1:not(:checked)+#check2:checked~label[for="check2"]::before {
    content: "1";
}



























